# Environment variables
.env
.env.local

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Pytest & Coverage cache
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp
